body {
  font-family: "Harmattan", sans-serif;
}
.mb--1 {
  margin-bottom: -10px;
}
.zig {
  margin-top: -5px;
  width: 8vmin;
}

/* navbar */
.navbar {
  z-index: 3;
}
.navbar-nav > svg {
  height: 7px;
  width: 30%;
}
.navbar-brand {
  width: 16vmin;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-nav a {
  font-size: 3.5vmin;
}
@media (max-width: 1200px) {
  .navbar-nav a {
    font-size: 2.2vw;
  }
}
@media (max-width: 800px) {
  .navbar-nav a {
    font-size: 4vw;
  }
}
.navbar-shadow {
  box-shadow: 0 0.5px 15px #707070;
}

/* home */
.intro-text {
  position: absolute;
  bottom: 5vmin;
  left: -50px;
  max-width: 40vw;
}
.carousel-caption > img {
  position: absolute;
  text-align: unset;
  left: -20vmin;
  bottom: -3vmin;
  max-width: 50vw;
}
@media (max-width: 600px) {
  .carousel-item > img {
    height: 50vh;
    object-fit: cover;
  }
  .carousel-caption > img {
    bottom: 0;
    height: 110px;
  }
}
/* edit slider points */
.carousel-inner {
  max-height: 100vh;
}
.carousel-indicators {
  margin-bottom: 1vmin;
}
.carousel-indicators [data-bs-target] {
  margin: 0 5px;
  opacity: 0.9;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: 0.5s;
}
.carousel-indicators [data-bs-target]:hover {
  background: #fecf00;
  background-clip: padding-box;
}
.carousel-indicators .active {
  opacity: 1;
  background: #fecf00;
  background-clip: padding-box;
}
/* lg screen */
@media (min-width: 1200px) {
  .intro-text {
    font-size: 2.5vmax;
    bottom: 12vmax;
    left: 0;
  }
  .carousel-caption > img {
    left: -35vmin;
    bottom: 10vmin;
    max-width: 40vw;
  }
  .carousel-indicators {
    justify-content: flex-start;
    margin-left: 26%;
    margin-bottom: 6.5%;
  }
  .carousel-indicators [data-bs-target] {
    width: 18px;
    height: 18px;
  }
}

/* red arrow */
.miss {
  color: #be1f25;
  animation: miss 1s;
}
@keyframes miss {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.arrow-parint {
  transform: translateX(-50%);
}
@media (max-width: 1200px) {
  .arrow-parint {
    position: relative !important;
  }
}
@media (min-width: 1600px) {
  .arrow-parint {
    margin-bottom: 20px;
  }
}
#arrow path {
  animation-name: arrow;
  animation-delay: 0.5s;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}
@keyframes arrow {
  to {
    transform: translateY(2vh);
  }
}

/* start about */
.about {
  padding-top: 7rem;
}
@media (max-width: 500px) {
  .about {
    padding-top: 4rem;
  }
}
.about h1 {
  color: #fecf00;
  font-size: 9vmin;
}
.about p {
  color: #707070;
  max-width: 65%;
  font-size: 3vmin;
}
@media (max-width: 700px) {
  .about p {
    font-size: 5vmin;
  }
}
@media (max-width: 1200px) {
  .about p {
    border: 4px #be1f25 dashed;
    border-radius: 20px;
    padding: 20px;
    line-height: 40px;
  }
}
/* .about p:last-of-type {
  color: #707070;
  max-width: 70%;
  font-size: 3vmin;
} */
.about h1 + img {
  width: 40vmin;
}
.about .container-fluid {
  background-color: #f7f7f7;
}
.about .container-fluid h3 {
  font-size: 1.4rem;
  margin-top: 10px;
  color: #707070;
  opacity: 0.8;
}
@media (min-width: 1500px) {
  .about h1 {
    font-size: 7vmin;
  }
}
/* start menu */
.menu {
  padding: 20vh 0;
}
.menu ul {
  list-style: none;
  color: #707070;
  font-size: 1.3rem;
}
.menu ul::-webkit-scrollbar {
  background-color: #dfdfdf52;
  height: 10px;
  border-radius: 30px;
}
.menu ul::-webkit-scrollbar-thumb {
  background-color: #be1f25;
  border-radius: 30px;
  width: 35%;
}
.menu ul li:hover {
  cursor: pointer;
}
.menu .sandwich img {
  border-radius: 18px;
}
.menu .sandwich span {
  color: #707070;
  font-size: 1.3rem;
}
.menu .sandwich button {
  font-size: 1.2rem;
  color: #be1f25;
  border: 0;
  background-color: transparent;
}
/* .zzz{

} */

/* start contact */
.contact {
  padding: 20vh 20px;
  background-image: url(../images/contact/bg.png);
  background-position: center;
  background-size: cover;
}
.contact .row {
  background-color: #fff;
  box-shadow: 0 0 15px #dfdfdf;
}
.contact h3 {
  color: #707070;
}
.contact input,
textarea {
  border: 0.5px solid #dfdfdf;
  border-radius: 3px;
  resize: none;
}
.contact input,
textarea:focus {
  outline: none;
}
.contact input[type="submit"] {
  background-color: #be1f25;
  color: #fff;
  letter-spacing: 3px;
  font-size: 1.1rem;
  transition: 0.3s;
}
.contact input[type="submit"]:hover {
  background-color: #a31f29;
}
/* end contact */

/* footer */
.footer * {
  font-size: 3vmin;
  color: #707070;
}
@media (min-width: 1400px) {
  .footer * {
    font-size: 2.5vmin;
  }
}
